<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryanwahle.projecthours" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Project Hours"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="Login" >
        </activity>
        <activity
            android:name=".RegisterAccountActivity"
            android:label="Register Account" >
        </activity>
        <activity
            android:name=".ProjectHoursActivity"
            android:label="Project Hours" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProjectHoursAddActivity"
            android:label="Add Project Hours" >
        </activity>
    </application>

</manifest>
